<table>
  <thead>
  <tr>
    <th>Альтернатива</th>
    <% Criterion.all.each do |criterion| %>
        <th><%= "#{criterion.name}, #{criterion.measure}" %></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <%- @alternatives.each do |alternative| -%>
      <tr>
        <th><%= alternative.name %></th>
        <% Criterion.all.each do |criterion| %>
            <th><%= alternative.fetch_vector_by(criterion.id).mark.name %></th>
        <% end %>
      </tr>
  <%- end -%>
  </tbody>
</table>