<%= react_component('Game') %>

<table border="1px" style="margin-top: 50px; margin-bottom: 20px;">
  <tr>
    <td>Правило</td>
    <td>Описание</td>
  </tr>
  <tr>
    <td>Игровая доска</td>
    <td>
      <p>Два игрока, у каждого только 1 ход.</p>
      <p>Доступно 2 клетки поля.</p>
      <p>У каждого игрока 1 корабль и 1 мина.</p>
      <p>Каждому игроку нужно выставить мину и корабль на игровое поле.</p>
      <p>Мина и корабль могут быть в одном поле.</p>
    </td>
  </tr>
  <tr>
    <td>Сражение</td>
    <td>
      <p>После того, как игроки выставили свои корабли и мины, происходит подсчет очков</p>
      <p>Мина игрока подрывает вражеский корабль, если они находятся в одной клетке.</p>
      <p>За подрыв вражеского корабля начисляются балы <b>3 * кол-во очей за клетку</b></p>
      <p>Если корабль остается целым, то тогда начисляются балы <b>1 * кол-во очей за клетку</b></p>
    </td>
  </tr>
  <tr>
    <td>Суицид</td>
    <td>
      <p>Если в одной корабль и мина игрока встречают только чужой корабль, тогда свой корабль уничтожается, а за подрыв вражеского начисляются балы <b>2 * кол-во очей за клетку</b></p>
      <p>Если все расставлено в 1 клетку, игроки получают поровну по 0 очей</p>
    </td>
  </tr>
</table>
